*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #235;
    color: #fff;
}

.container{
    display: flex;
    padding: 12px;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}

.dflex-ja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-container{
    padding: 8px 40px;
    background-color: rgb(21, 39, 75);
    border-radius: 32px;
    width: 80%;
    flex-grow: 1;
}

.record-container{
    flex-grow: 1;
}

#record{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid white
}

#record::after{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    content: " ";
    transform: translate(-50%, -50%);
    transition: all 0.3s; /* sempre que algum atributo mudar ocorre essa transition*/
}

.recording::after{
    width: 30px !important;
    height: 30px !important;
    border-radius: 5px !important;
}

.hide{
    opacity: 0 !important;
}

#mic-icon{
    position: absolute;
    width: 70%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: all 0.3s;
}

#display{
    font-family: 'Courier New', Courier, monospace;
}

.preload *{
    transition: none !important;
}
